* {
    font-family: "Permanent Marker", sans-serif;
} 


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Custom button I created to modify the default which was blue blackground with white text.
  I also added a shadow effect.  w3schools has a great resource for css 
    https://www.w3schools.com/bootstrap/bootstrap_ref_all_classes.asp */
.custom-button {
    background-color: transparent;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
}