﻿<!--
    This view is the home page of the application.
    Key Points:
    - Includes links that retrieves data from MySql.
    - Often times the Home Page will offer a brief description of the purposes and uses
      of the site(A paragraph can be added to your Html code <p></p>).  You can 
      also set it up as a navigation to the rest of your site, which is what I did
-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 1in;">
    <!-- Moved links to MySql from the header to the body, centered the links and added a tooltip -->
    <a class="custom-button" asp-area="" asp-controller="SongsFrom1950" asp-action="Index" title="Let's groove to the sock hop and boogie!" style="font-size: 20px;">
        Songs From The 50's
    </a>
</div>
