﻿<!--
    This view is the home page of the application.
    Key Points:
    - Includes links that retrieves data from MySql.
-->
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 1in; text-align: center;">
    <h2>Welcome to the Music Archive!</h2>

    <p>Choose a decade to explore:</p>

    <div style="margin-bottom: 10px;">
        <a class="navbar-brand" asp-area="" asp-controller="SongsFrom1950" asp-action="Index" title="Let's groove to the sock hop and boogie!">1950's</a>
    </div>

    <div style="margin-bottom: 10px;">
        <a class="navbar-brand" asp-area="" asp-controller="SongsFrom1960" asp-action="Index" title="The swinging 60s, where music and culture evolved!">1960's</a>
    </div>

    <div style="margin-bottom: 10px;">
        <a class="navbar-brand" asp-area="" asp-controller="SongsFrom1970" asp-action="Index" title="Experience the sounds of the 70s, a decade of disco and rock!">1970's</a>
    </div>

    <div style="margin-bottom: 10px;">
        <a class="navbar-brand" asp-area="" asp-controller="SongsFrom1980" asp-action="Index" title="Journey through the vibrant 80s, a time of neon lights and synth-pop!">1980's</a>
    </div>

    <div style="margin-bottom: 10px;">
        <a class="navbar-brand" asp-area="" asp-controller="SongsFrom1990" asp-action="Index" title="The 90s - the era of grunge, hip-hop, and boy bands!">1990's</a>
    </div>

    <div style="margin-bottom: 10px;">
        <a class="navbar-brand" asp-area="" asp-controller="SongsFrom2000" asp-action="Index" title="Enter the 2000s, a decade of diverse genres and digital revolution!">2000's</a>
    </div>

    <div>
        <a class="navbar-brand" asp-area="" asp-controller="SongsFrom2010" asp-action="Index" title="Explore the 2010s - a fusion of styles in the age of streaming!">2010's</a>
    </div>
</div>

