﻿
<!--
    This view displays the privacy policy page.  I do not have a privacy policy for
    this aaplication so I deleted it from the shared layout.
-->
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>